# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\ТУ\2 курс\2 семестър\ИБТ\Projects-ИБТ\luxSkin\luxSkin\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
